# Flask and core
Flask==2.2.5
Flask-CORS==4.0.0
Flask-SQLAlchemy==3.0.5

# WebSocket
flask-socketio==5.3.2
python-socketio==5.8.0
python-engineio==4.4.0

# Server
gunicorn==21.2.0
eventlet==0.33.3

# Database
psycopg2-binary==2.9.7

# Telegram bot
python-telegram-bot==20.3

# Utilities
python-dotenv==1.0.0
PyJWT==2.8.0
requests==2.31.0
